* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1pt;
}
body .nav-section {
  background-color: #179b5d;
  border: none;
}
body .nav-section .nav-wrapper {
  max-width: 1250px;
  padding: 0px 20px 0px 20px;
}
body .nav-section .lr-spacing {
  width: 150px;
}
body .nav-section .navbar-brand {
  color: #179b5d;
  text-decoration: none;
}
body .nav-section .offcanvas-header-bottom {
  height: 62px;
}
body .nav-section .btn-signup {
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #179b5d;
}
body .nav-section .btn-signup:hover {
  background-color: #198754;
}
body .nav-section .center-link {
  position: relative;
  white-space: nowrap;
}
body .nav-section .center-link,
body .nav-section .center-link::after,
body .nav-section .center-link::before {
  transition: width 0.3s ease-out 0s;
}
body .nav-section .center-link::after,
body .nav-section .center-link::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 2px solid #179b5d;
}
body .nav-section .center-link::after {
  left: 50%;
}
body .nav-section .center-link::before {
  right: 50%;
}
body .nav-section .center-link:hover::before,
body .nav-section .center-link:hover::after {
  width: 50%;
}
body .nav-section .switch-link {
  color: #179b5d;
}
body .hero-section {
  padding-top: 57px;
}
body .hero-section .hero-container {
  position: relative;
  height: 400px;
}
body .hero-section .hero-container .hero-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .hero-section .hero-container .hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
}
body .hero-section .hero-container .hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
body .content-section .content-wrapper {
  max-width: 1250px;
  padding: 0px 20px 0px 20px;
}
body .content-section .spacer {
  height: 50px;
}
body .content-section h2 {
  color: #4e4e4e;
}
body .content-section .btn-form {
  border: none;
  margin-top: 8px;
  margin-bottom: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #179b5d;
}
body .content-section .btn-form:hover {
  background-color: #198754;
}
body .content-section .form-wrapper {
  max-width: 475px;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.211);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
body .content-section .form-control {
  margin-top: 8px;
  margin-bottom: 8px;
}
body .footer {
  background-color: #198754;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
body .prompt-medium {
  font-family: "Prompt", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  font-style: normal;
}/*# sourceMappingURL=base.css.map */