$primary-color: #198754;
$my-letter-spacing: 0.2pt;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: $my-letter-spacing;
    .nav-section {
        .lr-spacing {
            width: 200px;
        }
        .navbar-brand {
            color: $primary-color;
            text-decoration: none;
        }
    }
}