$primary-color: #198754;
$my-letter-spacing: 0.2pt;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: $my-letter-spacing;
    .nav-section {
        .lr-spacing {
            width: 200px;
        }
        .navbar-brand {
            color: $primary-color;
            text-decoration: none;
        }
        .offcanvas-header-bottom {
            height: 62px;
        }
        .btn-signup {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    .hero-section {
        .hero-container {
            position: relative;
            height: 600px;
            .hero-image {
                
                width: 100%;
                // object-position: 0 20%;
                object-fit: cover;
            }
            .hero-text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                color: white;
            }
            .hero-bg {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}