$primary-color: #198754;
$active-color: #179b5d;
$my-letter-spacing: 0.2pt;
$b1-color: #0e1217;
$b2-color: #4e4e4e;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: $my-letter-spacing;
    .nav-section {
        .nav-wrapper {
            max-width: 1250px;
            // height: 50px;
        }
        .lr-spacing {
            width: 200px;
        }
        .navbar-brand {
            color: $active-color;
            text-decoration: none;
        }
        .offcanvas-header-bottom {
            height: 62px;
        }
        .btn-signup {
            border: none;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: $active-color;
        }
        .btn-signup:hover {
            background-color: $primary-color;
        }
        .center-link {
            position: relative;
            white-space: nowrap;
        }

        .center-link,
        .center-link::after,
        .center-link::before {
            // transition: width .3s .9s;
            transition: width .3s ease-out 0s;
        }

        .center-link::after,
        .center-link::before {
            content: '';
            position: absolute;
            width: 0;
            bottom: 0;
            border-bottom: 2px solid $active-color;
        }

        .center-link::after {
            left: 50%;
        }

        .center-link::before {
            right: 50%;
        }

        .center-link:hover::before,
        .center-link:hover::after {
            width: 50%;
        }

        // .nav-link:hover {
        //     color: $primary-color;
        //     transition: color .3s .9s;
        // }

        .switch-link {
            color: $active-color;
        }
        // .btn-success {
            background-color: $active-color;
            border: none;
        // }
        // .btn-success:hover {
        //     background-color: $primary-color;
        // }
    }
    .hero-section {
        .hero-container {
            position: relative;
            height: 300px;
            .hero-image {
                
                width: 100%;
                // object-position: 0 20%;
                object-fit: cover;
            }
            .hero-text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                color: white;
            }
            .hero-bg {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
    .content-section {
        .content-wrapper {
            max-width: 1250px;
        }
        .spacer {
            height: 50px;
        }
        h2 {
            color: $b2-color;
        }
        .btn-form {
            border: none;
            margin-top: 8px;
            margin-bottom: 2px;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: $active-color;
        }
        .btn-form:hover {
            background-color: $primary-color;
        }
        .form-wrapper {
            max-width: 500px;
            padding: 12px;
            border: 1px solid rgba(128, 128, 128, 0.629);
            border-radius: 10px;
        }
        .form-control {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}