$primary-color: #198754;
$active-color: #179b5d;
$my-letter-spacing: 0.1pt;
$b1-color: #0e1217;
$b2-color: #4e4e4e;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: $my-letter-spacing;
    .nav-section {
        .nav-wrapper {
            max-width: 1250px;
            padding: 0px 20px 0px 20px;
            // height: 50px;
        }
        .lr-spacing {
            width: 150px;
        }
        .navbar-brand {
            color: $active-color;
            text-decoration: none;
        }
        .offcanvas-header-bottom {
            height: 62px;
        }
        .btn-signup {
            border: none;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: $active-color;
        }
        .btn-signup:hover {
            background-color: $primary-color;
        }
        .center-link {
            position: relative;
            white-space: nowrap;
        }

        .center-link,
        .center-link::after,
        .center-link::before {
            // transition: width .3s .9s;
            transition: width .3s ease-out 0s;
        }

        .center-link::after,
        .center-link::before {
            content: '';
            position: absolute;
            width: 0;
            bottom: 0;
            border-bottom: 2px solid $active-color;
        }

        .center-link::after {
            left: 50%;
        }

        .center-link::before {
            right: 50%;
        }

        .center-link:hover::before,
        .center-link:hover::after {
            width: 50%;
        }

        // .nav-link:hover {
        //     color: $primary-color;
        //     transition: color .3s .9s;
        // }

        .switch-link {
            color: $active-color;
        }
        // .btn-success {
            background-color: $active-color;
            border: none;
        // }
        // .btn-success:hover {
        //     background-color: $primary-color;
        // }
    }
    .hero-section {
        padding-top: 57px;
        .hero-container {
            position: relative;
            height: 400px;
            .hero-image {
                width: 100%;
                // object-position: 0 20%;
                object-fit: cover;
            }
            .hero-text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                color: white;
            }
            .hero-bg {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
    .content-section {
        .content-wrapper {
            max-width: 1250px;
            padding: 0px 20px 0px 20px;
        }
        .spacer {
            height: 50px;
        }
        h2 {
            color: $b2-color;
        }
        .btn-form {
            border: none;
            margin-top: 8px;
            margin-bottom: 2px;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: $active-color;
        }
        .btn-form:hover {
            background-color: $primary-color;
        }
        .form-wrapper {
            max-width: 475px;
            padding: 20px;
            // border: 1px solid $active-color;
            border: 1px solid rgba(128, 128, 128, 0.211);
            border-radius: 10px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        }
        .form-control {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    .footer {
        background-color: $primary-color;
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    }
    .prompt-medium {
        font-family: "Prompt", sans-serif;
        font-size: 1.7rem;
        font-weight: 500;
        font-style: normal;
      }
}