{% extends "rentalApp/home.html" %}
{% block title %}
    <title>contact</title>
{% endblock title %}
{% block switch-link %}
<li class="nav-item px-2">
    <a class="nav-link center-link" href="{% url "rentalApp:home" %}">Strona główna</a>
</li>
<li class="nav-item px-2">
    <a class="nav-link center-link" href="{% url "rentalApp:rent" %}">Zarezerwuj samochód</a>
</li>
<li class="nav-item px-2">
    <a class="nav-link center-link switch-link" href="{% url "rentalApp:contact" %}">Kontakt</a>
</li>
{% endblock switch-link %}
{% block content-section %}
<h2>Skontaktuj się z nami</h2>
<p class="pb-4">O czym chciałbyś nam powiedzieć?</p>
<div class="row">
    <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row align-items-center pe-lg-5">
        <div class="form-wrapper w-100">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success btn-form">Wyślij</button>
            </form>
        </div>
    </div>
    <div class="col-12 col-lg-6 ps-lg-5">
        <h2 class="pt-4 pt-lg-0">Wypełnij formularz</h2>
        <p>Jeżeli masz jakiekolwiek pytania dotyczące naszej oferty wynajmu samochodów, chcesz uzyskać dodatkowe informacje na temat dostępnych pojazdów lub potrzebujesz wsparcia przy rezerwacji, jesteśmy tutaj, aby Ci pomóc. Prosimy o wypełnienie poniższego formularza kontaktowego, a nasz zespół obsługi klienta skontaktuje się z Tobą tak szybko, jak to możliwe.
        <p>Aby ułatwić nam odpowiedź na Twoje pytania, prosimy o podanie jak najwięcej szczegółów w formularzu kontaktowym. Wypełnij wszystkie wymagane pola, a my postaramy się odpowiedzieć na Twoje zapytanie w możliwie najkrótszym czasie.</p>
    </div>
</div>
{% endblock content-section %}