{% extends "rentalApp/home.html" %}
{% block title %}
    <title>contact</title>
{% endblock title %}
{% block switch-link %}
<li class="nav-item px-2">
    <a class="nav-link center-link" href="{% url "home" %}">Strona główna</a>
</li>
<li class="nav-item px-2">
    <a class="nav-link center-link" href="{% url "rent" %}">Zarezerwuj samochód</a>
</li>
<li class="nav-item px-2">
    <a class="nav-link center-link switch-link" href="{% url "contact" %}">Kontakt</a>
</li>
{% endblock switch-link %}
{% block content-section %}
    <h2>Kontakt</h2>
{% endblock content-section %}