{% extends "rentalApp/home.html" %}
{% block title %}
    <title>send</title>
{% endblock title %}
{% block switch-link %}
<li class="nav-item px-2">
    <a class="nav-link center-link" href="{% url "rentalApp:home" %}">Strona główna</a>
</li>
<li class="nav-item px-2">
    <a class="nav-link center-link" href="{% url "rentalApp:rent" %}">Zarezerwuj samochód</a>
</li>
<li class="nav-item px-2">
    <a class="nav-link center-link" href="{% url "rentalApp:contact" %}">Kontakt</a>
</li>
{% endblock switch-link %}
{% block content-section %}
    <h2>Dziękujemy</h2>
    <p>Formularz kontaktowy został przesłany.</p>
{% endblock content-section %}